<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans xmlns = "http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
        <list>
            <ref bean="autoMatchJobTrigger"/>
        </list>
    </property>
    <property name="autoStartup" value="true"/>
</bean>

<bean id="autoMatchJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="autoMatchJob"/>
    <!-- 每隔1小时触发一次 -->
    <property name="cronExpression" value="0 30 20 ? * *"/>
</bean>

<bean id="autoMatchJob"
      class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="autoMatchTask"/>
    <property name="targetMethod" value="autoMatching"/>

    <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
    <property name="concurrent" value="false"/>
</bean>

<bean id="autoMatchTask" class="com.baijia.accounting.quartz.AutoMatchingTask">
    <property name="start" value="${autoMatchingHolderTask.start:true}"/>
</bean>
						
  
</beans>